@page "/Build"
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

<NavBar selectedPage="6"/>
<main class="container-fluid BodyWithFooterAndNav">
    <div class="row h-100">
            <div class="col-md-6  my-auto">
                <img class="img-fluid" src="Content/img/@endResultPart1">
            </div>
            <div class="col-md-6 my-auto ">
                <img class="img-fluid"  src="Content/img/@endResultPart2">
            </div>
        </div>
</main>
<Footer NextIsVisible="true" PrevIsVisible="true" Next="ThankYou" Previous="Plan" />

@code {

    [Parameter]
    public AppModel model { get; set; }
    [Parameter]
    public string endResultPart1 { get; set; }
    [Parameter]
    public string endResultPart2 { get; set; }
    protected override void OnInitialized()
    {
        model = sessionStorage.GetItem<AppModel>("AppModel") ?? new AppModel();
        if (!string.IsNullOrEmpty(model.Status))
        {
            endResultPart1 = model.Status == "Single" ? "EndResult_Model_Pink_Part1.jpg" :
                model.Status == "Student" ? "EndResult_Model_Orange_Part1.jpg" :
                model.Status == "Family" ? "EndResult_Model_Purple_Part1.jpg" :
                model.Status == "Old" ? "EndResult_Model_Blue_Part1.jpg" : "";
            endResultPart2 = model.Status == "Single" ? "EndResult_Model_Pink_Part2.jpg" :
                model.Status == "Student" ? "EndResult_Model_Orange_Part2.jpg" :
                model.Status == "Family" ? "EndResult_Model_Purple_Part2.jpg" :
                model.Status == "Old" ? "EndResult_Model_Blue_Part2.jpg" : "";
        }
    }

}
