@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');



a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    /*position: relative;*/
    /*flex-direction: column;*/
    height: 100%;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}












/*Common*/
@font-face {
    font-family: 'customFont';
    src: url('../Content/font/TCCEB.TTF') format('truetype');
}

html, body {
    height: 100%;
    font-family: customFont;
}

.BodyWithFooter {
    height: calc(100% - 90px);
    /*max-height: 94vh;*/
}

.BodyWithoutFooter {
    min-height: 100%;
}

/*.BodyWithFooterAndNav {
    height: calc(100% - 90px);
}*/
.BodyWithFooterAndNav {
    height: calc(100% - 175px);
}
/*@media (min-width: 768px) {
    .BodyWithFooterAndNav {
        height: calc(100% - 175px);
    }
}*/

Main {
    overflow-y: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    /*min-height: 80px;*/
    line-height: 90px;
    /*border-top: #e44d94 solid;*/
    /*background-color: #f5f5f5;*/
}

/*.btnOption2 {
    font-weight: bold;
    background-color: #e0c5d8;
    font-style: inherit;
}*/

/*
    Color Ref:
    Pink : #f49ac0
    Blue : #6ea2d1
    Orange: #f78c16
*/

.btnOption1 {
    font-weight: bold;
    height: 50px;
    width: 50px;
    background-color: #e0c5d8;
    font-style: inherit;
}

.LogoBlueBox {
    background-color: #6ea2d1;
    height: 69px;
    width: 69px;
    margin-left: 5px;
}

.LogoPinkBox {
    background-color: #f49ac0;
    height: 69px;
    width: 69px;
    margin-left: 5px;
}

.LogoOrangeBox {
    background-color: #f78c16;
    height: 69px;
    width: 69px;
    margin-left: 5px;
}

.zoom2:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.zoom2Perm {
    transform: scale(1.05);
    cursor: pointer;
    border: #e44d94 solid;
}

.zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.zoomPerm {
    transform: scale(1.1);
    cursor: pointer;
    border: #e44d94 solid;
}

#MainLogo {
    display: none;
}

@media (min-width: 768px) {
    #MainLogo {
        display: flex;
        width: 110px;
        float: left;
        position: absolute;
    }
}
/* NavBar*/
.progress {
    position: relative;
    height: 25px;
}

    .progress > .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 800;
        padding: 3px 30px 2px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }

    .progress > .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 800;
        padding: 3px 10px 2px;
    }

.step {
    text-align: center;
}

    .step .col-md-2 {
        background-color: #fff;
        border: 1px solid #C0C0C0;
        border-right: none;
        padding:0px 7px 0px 7px;
    }

@media (min-width: 768px) {
    .step .col-md-2 {
    padding-right:15px;
    padding-left:15px;
 
    }
}
.step .col-md-2 p {
    font-size:13px;
}
@media (min-width: 768px) {
    .step .col-md-2 p {
        font-size:initial;
    }
}
    .step .col-md-2:last-child {
        border: 1px solid #C0C0C0;
    }

    .step .col-md-2:first-child {
        border-radius: 5px 0 0 5px;
    }

    .step .col-md-2:last-child {
        border-radius: 0 5px 5px 0;
    }

    .step .col-md-2:hover {
        color: #e44d94;
        cursor: pointer;
    }

    .step .activestep {
        color: #e44d94;
        height: 100px;
        margin-top: -7px;
        padding-top: 7px;
        border-left: 2px solid #6ea2d1 !important;
        border-right: 2px solid #6ea2d1 !important;
        border-top: 1px solid #6ea2d1 !important;
        border-bottom: 1px solid #6ea2d1 !important;
        vertical-align: central;
    }

    @media (min-width: 768px) {
        .step .activestep {
            border-left: 6px solid #6ea2d1 !important;
            border-right: 6px solid #6ea2d1 !important;
            border-top: 3px solid #6ea2d1 !important;
            border-bottom: 3px solid #6ea2d1 !important;
            height: 100px;
        }
    }

    .step .fa {
        padding-top: 15px;
        font-size: 35px;
    }
@media (min-width: 768px) {
    .step .fa {
        font-size: 40px;
    }
}
    /*  end of navbar     */

    /* Welcome Page  */

    #btnStart {
        height: 90px;
    }







    /* End of welcome Page*/
    /*  intro section  */
    introImg {
        height: 300px;
    }

    @media (min-width: 768px) {
        .introImg {
            height: 170px;
        }
    }

    #FirstRow {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #thridRow {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .columnSeparator {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media (min-width: 768px) {
        .columnSeparator {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    /*  End of intro section  */

    /*  UserInput Section  */
    /*#UserInput #firstRow {
        margin-top: 50px;
        margin-bottom: 10px;
    }*/

    .userInputImg {
        height: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: 576px) {
        .userInputImg {
            height: 150px;
        }
    }

    @media (min-width: 768px) {
        .userInputImg {
            height: 170px;
        }
    }

    .userInputOptions {
        font-size: xx-large;
        height: 120px;
        width: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: 576px) {
        .userInputOptions {
            height: 150px;
            width: 150px;
        }
    }

    @media (min-width: 768px) {
        .userInputOptions {
            height: 170px;
            width: 170px;
        }
    }

    /*  End of UserInput section  */
    /* Room Selector */
    #CustomRooms .heading {
        height: 60px;
    }

    #CustomRooms .modelRow {
        /*height: 50%;*/
    }

    @media (min-width: 768px) {
        #CustomRooms .modelRowWithOptions {
            height: calc(50% - 30px);
        }
    }

    @media (min-width: 768px) {
        #CustomRooms .modelRow {
            height: calc(50%);
        }
    }

    .modelContainer {
        height: calc(100% - 60px);
    }

    .RoomObj {
        max-height: 230px;
    }

    #CustomRooms #Controls {
        height: 60px;
        max-height: 60px;
    }

    .btnRoomOption {
        max-height: 50px;
    }

    @media (min-width: 576px) {
        .btnRoomOption {
            /*height: 100%;*/
        }
    }

    @media (min-width: 768px) {
        .btnRoomOption {
            /*height: 100%;*/
        }
    }




    #CustomRooms .SelectedModelCountainer {
        /*border: #e44d94 solid;*/
        width: 100%;
        height: 100%;
        background: #e34d9417;
        float: left;
        border: 2px solid #000;
        outline: 1px dashed #fff;
        outline-offset: -10px;
    }

    /*  End of room selector */
    /*Checkout*/
    @keyframes PriceAnimate {
        0% {
            transform: rotate(xx);
            font-size: 0px;
        }

        100% {
            transform: rotate(xx);
            font-size: 60px;
        }
    }

    #Price {
        animation: PriceAnimate 1s 1 0s ease;
    }

    #Price {
        font-size: 60px;
    }

    @media (min-width: 768px) {
        #Price {
            height: 80px;
        }
    }

    #Checkout img {
        height: 150px;
    }

    @media (min-width: 768px) {
        #Checkout img {
            height: 200px;
        }
    }
    /**/

    /*Plan*/
    #PlanStatusLogo {
        max-height: 150px;
        /*width: 150px;*/
    }

    #PlanImg {
        max-height: 300px;
    }

    #PlanAnimation {
        max-height: 400px;
    }

    #AnimationContainer {
        /*height: calc(50%);*/
        /*max-height: calc(50%);*/
    }

    #PlanContainer {
        height: calc(100%);
    }

    #PlanOptStatus {
        max-height: 150px;
        /*width: 150px;*/
    }

    #PlanOptStatus {
    }




    /**/
